* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  background-color: bisque;
}

#main-content {
  height: 100vh;
  display: grid;
  align-items: center;
  justify-items: center;
}

#main-content .game-space {
  height: 600px;
  width: 600px;
  border: 1px solid black;
  border-radius: 1em;

  display: grid;
  grid-template: auto / 2fr 1fr;
  align-items: center;
  background-color: azure;
}

#main-content .game-space .board-list {
  padding: 1em;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2em;
}

.game-board {
  position: relative;
  display: grid;
  align-items: center;
  justify-items: center;
  padding: 0.5em;
  border: 1px solid black;
}

.board-lock {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.75);
}

.game-board .board-cell {
  display: inline-block;
  border: 1px solid black;
}

#main-content .game-information {
  height: 100%;
  border-radius: 0 1em 1em 0;
  border: 1px solid black;
  background-color: black;
}

.game-information .player-name-list {
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;

  .player-name {
    display: flex;
    text-align: center;
    padding: 0.5em;
    color: white;
    font-weight: 700;
  }
}

@media screen and (min-width: 700px) {
  #main-content .game-space {
    width: 800px;
  }
}
